@import "tailwindcss";

@theme {
  --color-brand-matcha: #4E0A0B;
  --color-brand-cream: #ffe5f1;
  --color-brand-charcoal: #2D2D2D;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-brand-cream text-brand-charcoal font-sans;
  }
}
